@import url(http://fonts.googleapis.com/css?family=Maven+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic);
.pager, .site-branding {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
}
.pager:before, .site-branding:before, .pager:after, .site-branding:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.pager:after, .site-branding:after {
  clear: both;
}

.pager, .site-branding {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
}
.pager:before, .site-branding:before, .pager:after, .site-branding:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.pager:after, .site-branding:after {
  clear: both;
}

/**
 * $SITE-BRANDING
 */
/*.l-branding {
  padding: 1em 0;
  @include clearfix(true);
}

.l-branding #site-name,
.l-branding #logo {
  display: block;
  float: left;
}

.l-branding #site-name {
  padding: 0.5em;
}

.l-branding #logo img {
  max-height: 2em;
  @include breakpoint($tab){
    max-height: 4em;
  }
}*/
img, media {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

/**
 * $FONT-FACE
 */
* html {
  font-size: 87.5%;
}

html {
  font-size: 14px;
  line-height: 1.71429em;
}

/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
  color: #222222;
}

/**
 * $LINKS
 */
a {
  color: #e4621c;
}
a:visited {
  color: #e4621c;
}
a:focus {
  color: black;
}
a:hover {
  color: black;
}
a:active {
  color: #efa47b;
}

/**
 * $HEADINGS
 */
h1, .alpha, #site-name,
h2, .beta,
h3, .gamma, .site-branding__name,
h4, .delta,
h5, .epsilon,
h6, .zeta {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.34286em;
  color: #464a4e;
  font-family: "Maven Pro", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
h1 a,
h1 a:visited, .alpha a, #site-name a,
.alpha a:visited,
#site-name a:visited,
h2 a,
h2 a:visited, .beta a,
.beta a:visited,
h3 a,
h3 a:visited, .gamma a, .site-branding__name a,
.gamma a:visited,
.site-branding__name a:visited,
h4 a,
h4 a:visited, .delta a,
.delta a:visited,
h5 a,
h5 a:visited, .epsilon a,
.epsilon a:visited,
h6 a,
h6 a:visited, .zeta a,
.zeta a:visited {
  color: inherit;
  text-decoration: none;
}
h1 a:hover, .alpha a:hover, #site-name a:hover,
h2 a:hover, .beta a:hover,
h3 a:hover, .gamma a:hover, .site-branding__name a:hover,
h4 a:hover, .delta a:hover,
h5 a:hover, .epsilon a:hover,
h6 a:hover, .zeta a:hover {
  color: #064771;
}

h1, .alpha, #site-name {
  font-size: 32px;
  font-size: 2.28571rem;
  font-weight: 700;
}

h2, .beta {
  font-size: 26px;
  font-size: 1.85714rem;
  font-weight: 700;
  color: #077dc3;
}

h3, .gamma, .site-branding__name {
  font-size: 21px;
  font-size: 1.5rem;
}

h4, .delta {
  font-size: 18px;
  font-size: 1.28571rem;
}

h5, .epsilon {
  font-size: 16px;
  font-size: 1.14286rem;
  font-weight: 700;
}

h6, .zeta {
  font-size: 16px;
  font-size: 1.14286rem;
  color: #077dc3;
}

/**
 * $BRANDING
 */
#site-name {
  font-size: 18px;
  font-size: 1.28571rem;
  font-weight: 700;
}

/**
 * $PARAGRAPHS
 */
p,
blockquote {
  margin: 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.71429em;
}

p + img {
  float: left;
  margin-right: 1em;
}

/**
 * $QUOTES
 */
blockquote {
  margin-top: 0em;
  padding-top: 1.71429em;
  padding-bottom: 1.71429em;
  margin-bottom: 1.71429em;
  padding: 0 1.5em;
  border-style: solid;
  border-width: 0.07143em;
  padding: 1.64286em;
  border-left-style: solid;
  border-left-width: 0.71429em;
  padding-left: 1em;
  font-style: italic;
  color: #064771;
}
blockquote p {
  margin: 0;
}

q {
  font-style: italic;
}

/**
 * $MARKS
 */
mark,
.marker {
  padding: 0.1em 0.5em;
  background: #52b1ea;
  color: #fff;
  font-size: 12px;
  font-size: 0.85714rem;
  text-transform: capitalize;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

/**
 * $NAV-BAR
 */
.pane-menu-schemax-sports-menu {
  background-color: #000;
}
.pane-menu-schemax-sports-menu a {
  display: block;
  padding: 1.2em 1em;
  font-size: 16px;
  font-size: 1.14286rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #000;
}
.pane-menu-schemax-sports-menu a:hover, .pane-menu-schemax-sports-menu a:focus {
  color: #064771;
}
.pane-menu-schemax-sports-menu a {
  font-size: 18px;
  font-size: 1.28571rem;
  border-left: 1px solid #fff;
}
.pane-menu-schemax-sports-menu li:last-child a {
  border-right: 1px solid #fff;
}

/**
 * $SECONDARY-LINKS
 */
.pane-menu-schemax-base-menu {
  float: right;
}
.pane-menu-schemax-base-menu a {
  display: block;
  padding: 1em 0.8em;
  font-size: 11px;
  font-size: 0.78571rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
.pane-menu-schemax-base-menu a:hover, .pane-menu-schemax-base-menu a:focus {
  color: #064771;
}

/**
 * $TEAM-NAV
 */
.pane-menu-schemax-team-menu {
  background-color: #333;
}
.pane-menu-schemax-team-menu .active {
  border-bottom: #fff solid 2px;
}
.pane-menu-schemax-team-menu a {
  display: block;
  padding: 1em 0.8em;
  font-size: 12px;
  font-size: 0.85714rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #333;
}
.pane-menu-schemax-team-menu a:hover, .pane-menu-schemax-team-menu a:focus {
  color: #064771;
}
.pane-menu-schemax-team-menu a {
  font-size: 12px;
  font-size: 0.85714rem;
  border-left: 1px solid #fff;
}
.pane-menu-schemax-team-menu li:last-child a {
  border-right: 1px solid #fff;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 1-Jan-2014, 12:32:53 AM
    Author     : sshutter
*/
.links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.links > li {
  display: block;
  float: left;
}
.links > li:last-child {
  margin-right: 0px;
}

.pane-menu-schemax-base-menu .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.pane-menu-schemax-base-menu .menu > li {
  display: block;
  float: left;
}
.pane-menu-schemax-base-menu .menu > li:last-child {
  margin-right: 0px;
}

.pane-menu-schemax-sports-menu .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.pane-menu-schemax-sports-menu .menu > li {
  display: block;
  float: left;
}
.pane-menu-schemax-sports-menu .menu > li:last-child {
  margin-right: 0px;
}

.pane-menu-schemax-team-menu .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.pane-menu-schemax-team-menu .menu > li {
  display: block;
  float: left;
}
.pane-menu-schemax-team-menu .menu > li:last-child {
  margin-right: 0px;
}

/**
 * $BORDER-LIST
 */
.border-list {
  padding: 0;
  list-style: none;
}
.border-list li {
  padding-bottom: 1.71429em;
  margin-bottom: 1.71429em;
  border-bottom: 1px solid #dddddd;
}
.border-list li:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

/**
 * $BUTTONS
 */
/* Base Button */
.button {
  display: inline-block;
  height: 2.2em;
  margin: 0;
  padding: 0 1.2em;
  background-color: #222222;
  border: none;
  color: #fff;
  font-weight: 700;
  font-family: inherit;
  font-size: 100%;
  line-height: 2.2;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  overflow: visible;
  cursor: pointer;
}
.button, .button:hover, .button:active, .button:focus, .button:visited {
  text-decoration: none;
}
.button:hover {
  background-color: #6a7076;
}
.button:active, .button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) inset;
}
.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Fill width of container */
.button--full {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}

/* Inherit sizing from parent  */
.button--natural {
  vertical-align: baseline;
  font-size: inherit;
  line-height: inherit;
  height: auto;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

/* Button Functions */
.button--primary {
  background-color: #e4621c;
}

.button--secondary {
  background-color: transparent;
  border-color: #52b1ea;
  border-style: solid;
  border-width: 0.07143em;
  padding: 1.64286em;
  color: #52b1ea;
}
.button--secondary:hover {
  border-color: #6a7076;
  background-color: transparent;
  color: #6a7076;
}

.button--positive {
  background-color: #4a993e;
}
.button--positive:hover {
  background-color: #38752f;
}

.button--negative {
  background-color: #b33630;
}
.button--negative:hover {
  background-color: #8b2a25;
}

.button--disabled,
.button--disabled:hover,
.button--disabled:active,
.button--disabled:focus {
  background-color: #ddd;
  color: #777;
  cursor: default;
  box-shadow: none;
}

/* Adjacent buttons should have some space between them. */
.button + .button,
.button + a {
  margin-left: 1em;
}

/**
 * $MESSAGES
 */
.messages {
  padding-left: 10px;
  margin-bottom: 20px;
}

.messages--status {
  color: #077dc3;
  background: #ccebfd;
  border-color: #38b0f8;
}

.messages--warning {
  color: #d6c460;
  background: white;
  border-color: #ebe2b1;
}

.messages--error {
  color: #b33630;
  background: #f9eae9;
  border-color: #d97570;
}

/**
 * $PAGER
 */
.pager__item {
  display: block;
  float: left;
  margin: 0.1em;
  padding: 0;
}

.pager__item a,
.pager__item--current,
.pager__item--ellipsis {
  display: block;
  padding: 0.5em 0.8em;
  border: 1px solid #6a7076;
  color: #6a7076;
  text-decoration: none;
}

.pager__item a:hover {
  background-color: #e4621c;
  border-color: #e4621c;
  color: #fff;
}

.pager__item--current {
  border-color: #e4621c;
  color: #e4621c;
}

.pager__item--ellipsis {
  border: none;
}

/**
 * $PROGRESS
 */
.progress .bar {
  background-color: #dddddd;
  border-color: #6a7076;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
.progress .filled {
  background: #077dc3;
}

/**
 * $SECTION-TITLE
 */
.section-title {
  padding-bottom: 0.85714em;
  margin-bottom: 1.71429em;
  border-bottom: 1px solid #bcd8e3;
}

/**
 * $SITE-BRANDING
 */
.site-branding {
  padding: 1em 0;
}

.site-branding__name,
.site-branding__logo {
  display: block;
  float: left;
}

.site-branding__logo {
  width: 50px;
  margin-right: 1em;
}

.site-branding__name {
  color: #fff;
  text-decoration: none;
}
.site-branding__name:visited {
  color: #fff;
}
.site-branding__name:hover {
  color: #064771;
}

head {
  display: block;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 99;
  color: #333;
  text-shadow: 0 0 3px #fff;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
head::before {
  content: "||||";
  display: block;
  padding: 10px 14px;
  letter-spacing: -1;
  font-family: sans-serif;
  font-size: 26px;
  font-weight: bold;
}
head:hover {
  color: #333;
  text-shadow: 1px 1px #fff;
}
head:hover ~ body .l-page {
  position: relative;
}
head:hover ~ .l-page::after,
head:hover ~ body .l-page::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(210, 105, 30, 0.5)), color-stop(100%, rgba(210, 105, 30, 0.5)));
  background-image: -webkit-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 100%);
  background-image: -moz-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 100%);
  background-image: -o-linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 100%);
  background-image: linear-gradient(left, rgba(210, 105, 30, 0.5), rgba(210, 105, 30, 0.5) 100%);
}
