.l-page {
  margin: 0 auto;
}
@media (min-width: 700px) {
  .l-page {
    width: 700px;
  }
}
@media (min-width: 1040px) {
  .l-page {
    width: 1040px;
  }
}

.l-page {
  margin: 0 auto;
}
@media (min-width: 1040px) {
  .l-page p {
    font-size: 1.8em;
  }
}

@media (min-width: 3000px) {
  .l-region--sidebar-first {
    width: 23.40426%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }

  .l-content {
    width: 74.46809%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
  }
}
