@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/s201312191403\/sites\/all\/themes\/schemax_omega\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000324}}
body {
  background: #ccc; }

@media (min-width: 60em) and (max-width: 70em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/s201312191403\/sites\/all\/themes\/schemax_omega\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000336}}
  body {
    background: red; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/s201312191403\/sites\/all\/themes\/schemax_omega\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000347}}
.l-page {
  margin: 0 auto; }
  @media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/s201312191403\/sites\/all\/themes\/schemax_omega\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000347}}
    .l-page {
      width: 44em; } }
  @media (min-width: 80em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/s201312191403\/sites\/all\/themes\/schemax_omega\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000347}}
    .l-page {
      width: 80em; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/s201312191403\/sites\/all\/themes\/schemax_omega\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000358}}
.l-page {
  margin: 0 auto; }
  @media (min-width: 80em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/s201312191403\/sites\/all\/themes\/schemax_omega\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000361}}
    .l-page p {
      font-size: 1.8em; } }

@media (min-width: 44em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/s201312191403\/sites\/all\/themes\/schemax_omega\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000369}}
  .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
@media (min-width: 80em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/s201312191403\/sites\/all\/themes\/schemax_omega\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000376}}
  .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none; } }
