@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/s201312191403\/sites\/all\/themes\/schemax_omega\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000324}}
body {
  background: #ccc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/s201312191403\/sites\/all\/themes\/schemax_omega\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000347}}
.l-page {
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/var\/aegir\/platforms\/s201312191403\/sites\/all\/themes\/schemax_omega\/sass\/layouts\/home\/home\.layout\.scss}line{font-family:\0000358}}
.l-page {
  margin: 0 auto; }
