/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 1-Jan-2014, 12:32:53 AM
    Author     : sshutter
*/

@mixin navigation-list {
    list-style-type:none;
    padding:0;
    margin:0;
    overflow:hidden;
    > li{
        display:block;
        float:left;
        &:last-child{
            margin-right:0px;
        }
    }
}

.links {
  @include navigation-list;
}

.pane-menu-schemax-user-menu .menu{
  float: right;
  vertical-align: bottom;
  @include navigation-list;

}

.pane-menu-schemax-sports-menu .menu {
  @include navigation-list;
}

.pane-menu-schemax-team-menu .menu {
  @include navigation-list;
}

.pane-node-create-links ul {
  @include navigation-list;
}