/**
 * $NAV-BAR
 */
.pane-menu-schemax-sports-menu {

  background-color: #000;

  a {
    display: block;
    padding: 1.2em 1em;

    @include font-size(16px);
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #000;

    &:hover,
      &:focus {
      color: $dark-blue;
    }
  }

  @include breakpoint(1024, true) {
    a {
      @include font-size(18px);
      border-left: 1px solid #fff;
    }
    li:last-child a {
      border-right: 1px solid #fff;
    }
  }
}

/**
 * $SECONDARY-LINKS
 */
.pane-menu-schemax-user-menu {

  a {
    display: block;
    padding: 1em 0.8em;

    @include font-size(11px);
    text-transform: uppercase;
    text-decoration: none;
    //font-weight: 900;
    color: #000;

    &:hover,
      &:focus {
      color: $dark-blue;
    }
  }
}

/**
 * $TEAM-NAV
 */
.pane-menu-schemax-team-menu {

  padding: 2px 5px;
  background-color: #333;

  .active {
    border-bottom:#fff solid 2px;
  }

  a {
    display: block;
    padding: 1em 0.8em;

    @include font-size(12px);
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #333;

    &:hover,
      &:focus {
      color: $dark-blue;
    }
  }

  @include breakpoint(1024, true) {
    a {
      @include font-size(12px);
      border-left: 1px solid #fff;
    }
    li:last-child a {
      border-right: 1px solid #fff;
    }
  }
}


.pane-node-create-links {

  a {
    display: block;
    padding-left: 10px;

    @include font-size(12px);
    text-transform: uppercase;
    text-decoration: none;
    color: #000;

    &:hover,
      &:focus {
      color: $dark-blue;
    }
  }

}

.pane-schemax-user-teams-panel-pane-my-teams-short {

  a {
    display: block;
    padding: 0.3em 0.2em;

    @include font-size(11px);
    text-transform: uppercase;
    text-decoration: none;
    //font-weight: 900;
    color: #000;

    &:hover,
      &:focus {
      color: $dark-blue;
    }
  }
}

.pane-node-create-links h2.pane-title {
  display: block;

  @include font-size(12px);
  color: #999;
}

.pane-page-site-name {
  padding: 1em;
}
