/**
 * $NAV-BAR
 */
.pane-page-primary-links {

  background-color: #000;

  a {
    display: block;
    padding: 1.2em 1em;

    @include font-size(16px);
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #000;

    &:hover,
      &:focus {
      color: $dark-blue;
    }
  }

  @include breakpoint(1024, true) {
    a {
      @include font-size(18px);
      border-left: 1px solid #fff;
    }
    li:last-child a {
      border-right: 1px solid #fff;
    }
  }
}

/**
 * $TEAM-NAV
 */
.pane-menu-menu-team-menu {

  background-color: #333;

  a {
    display: block;
    padding: 1em 0.8em;

    @include font-size(12px);
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background-color: #333;

    &:hover,
      &:focus {
      color: $dark-blue;
    }
  }

  @include breakpoint(1024, true) {
    a {
      @include font-size(12px);
      border-left: 1px solid #fff;
    }
    li:last-child a {
      border-right: 1px solid #fff;
    }
  }

  .menu {
    list-style-type:none;
    padding:1px;
    margin:0;
    overflow:hidden;
    > li{
      display:block;
      float:left;
      &:last-child{
        margin-right:0px;
      }
    }


  }
}

