/**
 * $SITE-BRANDING
 */

.l-branding {

  .pane-page-site-name{
    @include font-size(18px);
  }
  .pane-page-logo img{
    width: 50px;
    margin-right: $horz-spacing-unit;
  }

  @include breakpoint($tab) {

    .pane-page-site-name{
      @include font-size(24px);
    }
    .pane-page-logo img{
      width: 75px;
      margin-right: $horz-spacing-unit;
    }

  }

  @include breakpoint($desk) {

    .pane-page-site-name{
      @include font-size(32px);
    }
    .pane-page-logo img{
      width: 100px;
      margin-right: $horz-spacing-unit;
    }

  }
}

