/**
 * $SITE-BRANDING
 */

.l-branding {
   .pane-page-site-name{
      font-size: 30px;
   }
}

/*.l-branding {
  padding: 1em 0;
  @include clearfix(true);
}

.l-branding #site-name,
.l-branding #logo {
  display: block;
  float: left;
}

      font-size: 30px;

.l-branding #site-name {
  padding: 0.5em;
}

.l-branding #logo img {
  max-height: 2em;
  @include breakpoint($tab){
    max-height: 4em;
  }
}*/



