.l-page {
  width: 95%;
  max-width: 110em;
  margin: 0 auto;
}

/*
.l-header {
  background-color: $light-blue;
}
.l-content {
  background-color: $mid-grey;
}
*/
.l-footer {
  background-color: #000;
}

.l-header,
.l-main {
  *zoom: 1;
  margin-bottom: 20px;
}
.l-header:after,
.l-main:after {
  content: "";
  display: table;
  clear: both;
}

/* Header Area */
.l-header {
  *zoom: 1;
}
.l-header:after {
  content: "";
  display: table;
  clear: both;
}

.l-branding {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}
.l-branding .pane-page-logo {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: left;
}
.l-branding .pane-page-site-name {
  width: 23.40426%;
  float: left;
  margin-right: -100%;
  margin-left: 25.53191%;
  clear: none;
  font-size: 30px;
}
.l-branding .pane-menu-schemax-user-menu {
  width: 48.93617%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: right;
}

.l-region--header {
  width: 6.38298%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
}

.l-region--navigation {
  clear: both;
}

/* Content Area */
.l-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

.team-list-short {
  display: inline-block;
}
