/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 1-Jan-2014, 12:32:53 AM
    Author     : sshutter
*/
.links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.links > li {
  display: block;
  float: left;
}
.links > li:last-child {
  margin-right: 0px;
}

.pane-menu-schemax-user-menu .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.pane-menu-schemax-user-menu .menu > li {
  display: block;
  float: left;
}
.pane-menu-schemax-user-menu .menu > li:last-child {
  margin-right: 0px;
}

.pane-menu-schemax-sports-menu .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.pane-menu-schemax-sports-menu .menu > li {
  display: block;
  float: left;
}
.pane-menu-schemax-sports-menu .menu > li:last-child {
  margin-right: 0px;
}

.pane-menu-schemax-team-menu .menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.pane-menu-schemax-team-menu .menu > li {
  display: block;
  float: left;
}
.pane-menu-schemax-team-menu .menu > li:last-child {
  margin-right: 0px;
}

.pane-node-create-links ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.pane-node-create-links ul > li {
  display: block;
  float: left;
}
.pane-node-create-links ul > li:last-child {
  margin-right: 0px;
}
